.nustatymai{margin-top: 25px; color: black;}
.paveikslelis{max-height: 60px;}
.imgd{height: 40px;}
.btn{color: black;}

.paveiksliukoDydis{width: 200px; height: 150px; border:solid;border-color: white; }
.tekstoLygiavimas{text-align: center; width: 200px;}


.paragrafoDydis{width: 199px;}
.spalva{background-color:}

.mapsas{width: 40%;
	padding: 100px;}
#map{padding: 100px;
	height:400px;
    width: 100%;
}

.tekstoSpalva{color:white;}
.karuselesNustatymai{margin-bottom: 50px; padding: 300px}

.antraste{font-size: 36px; text-align: center;}
.picture{height: auto; width: 100%; max-width: 150px; max-height: 150px; margin: 15px;}
.langas{background-color: white;border: solid; border-color: black;}
.mygtukoDydis{color: black; height: 125px; margin-top: 29px; margin-right: 40px;}

.antraste2{text-align:center;}

.keturi{margin-left: 17%; width: 870px; height: 400px;}



.karuselesFotoDydis{ width: 300px; height: 500px;}


.NaujienosFotoDydis{max-width: 1080px; max-height: 500px;}

.naujienosPavadinimas{text-align: center}
.NaujienosTekstas{text-align: justify;}
.margin{margin-top: 100px}
.NaujienuCardoFotoDydis{ max-width:600px; max-height: 200px}
.InaDydis{height: auto; width:100%;}
.manoPavDydis{max-width: 250px; max-height: 300px; margin-top: 5px}
.collection-item{height: 78px;background-color: white;}

.apieMusFoto{width: 1080px;}

.klase{width: 250px; height: 300px; margin-top: 5px}
.NaujienosTekstas2{text-align: center;}
.manoPavDydis2{size:100%;
	width: 250px;
	height:250px;
	margin-top: 5px; 
}
